/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

*{ 
  margin:0;
  padding:0;
}

.HeadsUpDisplay {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Health {
  margin: 5px;
}
.Score {
  margin: 5px;
}
.Treasure {
  margin: 5px;
}
.Time {
  margin: 5px;
}